html,
body {
    margin: 0;
    width : 100%;
    height: 100%;
    color : white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background   : #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.container {
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    flex-direction : column;
    align-items    : center;
}

.profile {
    display            : block;
    width              : 200PX;
    height             : 200PX;
    background         : #E6E7ED;
    border-radius      : 100px;
    background-image   : url(/assets/images/profile.jfif);
    background-position: 50% 50%;
    background-repeat  : no-repeat;
    background-size    : cover;
    margin             : 25px;
    -webkit-box-shadow : 5px 5px 10px 3px rgba(0, 0, 0, 0.49);
    -moz-box-shadow    : 5px 5px 10px 3px rgba(0, 0, 0, 0.49);
    box-shadow         : 5px 5px 10px 3px rgba(0, 0, 0, 0.49);
}

.name {
    text-align: center;
}

.name span {
    font-size  : 30pt;
    font-weight: bold;
}

.cursor {
    display   : inline-block;
    width     : 2px;
    height    : 25pt;
    background: #ffffff;
}

.description {
    font-size : 16pt;
    text-align: center;
}

.social {
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;
    max-width      : 300px;
    width          : 100%;
}

#particles-js canvas {
    display           : block;
    -webkit-transform : scale(1);
    -ms-transform     : scale(1);
    transform         : scale(1);
    opacity           : 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition        : opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width           : 100%;
    height          : 100%;
    position        : fixed;
    z-index         : -10;
    top             : 0;
    left            : 0;
    background-color: rgb(48, 54, 58);
}

.social-button {
    width             : 100%;
    height            : 100%;
    max-width         : 34px;
    max-height        : 34px;
    padding           : 10px;
    border-radius     : 10px;
    align-items       : center;
    border            : solid 1px rgb(223, 223, 223);
    background-color  : rgb(228, 228, 228);
    -webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.49);
    -moz-box-shadow   : 5px 5px 10px 3px rgba(0, 0, 0, 0.49);
    box-shadow        : 5px 5px 10px 3px rgba(0, 0, 0, 0.49);
    transition        : 1s ease;
}

.social-button :hover {
    -webkit-transform: scale(1.15);
    -ms-transform    : scale(1.15);
    transform        : scale(1.15);
    transition       : 1s ease;
}

.pill {
    color                : black;
    padding              : 4px 15px;
    width                : fit-content;
    height               : 20px;
    border-radius        : 13px;
    background-color     : #ffffff;
    margin               : 4px;
    font-weight          : bold;
    text-align           : center;
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    user-select          : none;
}

.pill :hover {
    cursor: default;
}

.pill-container {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    max-width      : 50%;
}

.background {

    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(124, 124, 124, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
}

.link {
    color          : white;
    text-decoration: none;
    font-weight    : bold;
}

.link :active :default {
    color: white;
}